* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  color: #2B2E33;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}

main {
  margin: 4rem auto;
  max-width: 80%;
}

h1, p, li {
  margin: 1rem 0;
}

h2 {
  margin: 2rem 0 1rem;
}

header {
  background-color: #2B2E33;
  text-align: center;
  padding: 2rem;
}

li {
  margin-left: 4rem;
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }

  .insideout-logo {
    width: 100%;
  }

  main {
    margin: 2rem auto;
  }

  li {
    margin-left: 2rem;
  }

}