* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FF4B36;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}

header h1 {
  font-size: 2.5rem;
  padding: 2vw;
  text-shadow: -0.1rem -0.1rem 0.1rem #D3360B;
}

header, article {
  min-height: 100vh;
  padding: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.titulo {
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem #333;
}

#rails-girls .title {
  background-image: url('../images/projects/rails-girls.jpg');
  color: #D3360B;
}

#rails-girls .descricao {
  background-color: #D3360B;
}

#django-girls .title {
  background-image: url('../images/projects/django-girls-niteroi.jpg');
  color: #FF9400;
}

#django-girls .descricao {
  background-color: #FF9400;
}

#wtm .title {
  background-image: url('../images/projects/wtm.jpg');
  color: #3399FF;
}

#wtm .descricao {
  background-color: #3399FF;
}

#js4girls .title {
  background-image: url('../images/projects/js4girls.jpg');
  color: #DF105B;
}

#js4girls .descricao {
  background-color: #DF105B;
}