* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FF4B36;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}

p {
  margin: 3vh 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #000;
}

header h1 {
  font-size: 2.5rem;
  padding: 2vw;
  text-shadow: -0.1rem -0.1rem 0.1rem #D3360B;
}

header, article {
  min-height: 100vh;
  padding: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#inside-out .description {
  background-color: #663399;
}

.team-member {
  list-style: none;
  display: inline-block;
  padding: 2vw;
}

.member-photo {
  max-width: 20vw;
  border-radius: 100%;
}

.title {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem #333;
}

.badge {
 height: 0.5rem;
 padding-top: 0.25rem;
 padding-bottom: 0.25rem;
 padding-left: 0.65rem;
 padding-right: 0.65rem;
 width: 0.5rem;
 border-radius: 100%;
 background-color: #4e69a2;
}

#mulheres-palestrantes .title {
  background-image: url('../images/projects/mulheres_palestrantes.jpg');
  color: #CC0066;
}

#mulheres-palestrantes .description {
  background-color: #CC0066;
}

#rails-girls .title {
  background-image: url('../images/projects/rails-girls.jpg');
  color: #D3360B;
}

#rails-girls .description {
  background-color: #D3360B;
}

#django-girls .title {
  background-image: url('../images/projects/django-girls-niteroi.jpg');
  color: #FF9400;
}

#django-girls .description {
  background-color: #FF9400;
}

#wtm .title {
  background-image: url('../images/projects/wtm.jpg');
  color: #3399FF;
}

#wtm .description {
  background-color: #3399FF;
}

#js4girls .title {
  background-image: url('../images/projects/js4girls.jpg');
  color: #DF105B;
}

#js4girls .description {
  background-color: #DF105B;
}

.down .icon {
    position: absolute;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: #FFF;
    animation: 1.3s ease 0s normal none infinite running pulse;
}

.down {
    position: relative;
    bottom: 50px;
    width: 100%;
    display: block;
    text-align: center;
}

svg:not(:root) {
    overflow: hidden;
}

a, aside, .overlay, body {
    transition: all 0.25s ease 0s;
}

a {
    background: transparent none repeat scroll 0% 0%;
}

@-webkit-keyframes pulse {
	from {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter:alpha(opacity=40);
		opacity:.4;
		top:0
	}
	50% {
		-ms-filter:none;
		-webkit-filter:none;
		filter:none;
		opacity:1;
		top:-10px
	}
	to {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter:alpha(opacity=40);
		opacity:.4;
		top:0
	}
}
@keyframes pulse {
	from {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter:alpha(opacity=40);
		opacity:.4;
		top:0
	}
	50% {
		-ms-filter:none;
		-webkit-filter:none;
		filter:none;
		opacity:1;
		top:-10px
	}
	to {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter:alpha(opacity=40);
		opacity:.4;
		top:0
	}
}
.icons-home {
	text-align:center;
}
.icons-home a {
	display:inline-block;
	padding:.9375rem;
	margin:.125rem;
	border-radius:50%;
	border:.125rem solid #fff;
	line-height:0;
	transition:all .7s;
}
.icons-home a .icon {
	fill:#fff;
	width:18px;
	height:18px;
}

@media (min-width: 800px) {
  .title {
    font-size: 3rem;
  }
}
